<%= form_for @user do |t| %>

	<% if @user.errors.any? %>
      <div id="error_explanation">
         <h2><%= pluralize(@user.errors.count, "error") %> prohibited 
              this information from being saved</h2>
         <% @user.errors.full_messages.each do |msg| %>
              <%= msg %>
         <% end %>
      </div>
    <% end %>

	<div>
		<%= t.label :email %>
		<%= t.email_field :email %>
	</div>

	<div>
		<%= t.label :first_name %>
		<%= t.text_field :first_name %>
	</div>

	<div>
		<%= t.label :last_name %>
		<%= t.text_field :last_name %>
	</div>

	<div>
		<%= t.label :balance %>
		<%= t.text_field :balance %>
	</div>

	<div>
		<%= t.label :password %>
		<%= t.password_field :password %>
	</div>

	<div>
		<%= t.label :password_confirmation, "Password Confirmation" %>
		<%= t.password_field :password_confirmation %>
	</div>

	<div>
		<%= t.submit %>
	</div>
<% end %>